body{
    margin: 0px;
    padding: 0px;
}

.sidebar{
    width: 6%;
    height: 650px;
    background-color:rgb(5,5,69) ;
    text-align: center;
    padding-top:5px ;
    position: fixed;
    
}
.font-icon{
    color: white;
    font-family: Montserrat, sans-serif;
}
.icons{
    color:rgb(105,105,105) ;
    font-size: 22px;
    padding-top: 10px;

}
#conticon{
    color: white;
}