body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.sidebar{
    width: 6%;
    height: 650px;
    background-color:rgb(5,5,69) ;
    text-align: center;
    padding-top:2px ;
    position: fixed;
    z-index: 3;
    
}
.font-icon{
    color: white;
    font-family: Sans-serif	;
}
.icons{
    color:rgb(105,105,105) ;
    font-size: 22px;
    padding-top: 10px;

}
#conticon{
    color: white;
}
nav{
    float: left;
    width: 100%;
    height: 70px;
    background-color: rgb(245,245,245);
    padding-left: 100px;
    position: fixed;
    z-index: 1;
}
li,h1,ul{
    display: inline-block;

}
ul{
    padding-left: 59%;
    font-size: 16px;
    font-family: Sans-serif	;
    font-weight: 600;  
    padding-top: 10px;
}
li{
    padding-left: 15px;

}
.navhead{
    font-family: Sans-serif	;
font-size:20px ;
padding-top: 5px;
}

.list{
    float: left;
    padding-left: 100px;
    padding-top: 80px;
position: fixed;
}
.list1h4{
padding-left: 10px;
padding-top: 3px;
font-size: 14px;
font-family: Sans-serif	;
font-weight: 400;

}
.list1h2{
    font-size: 15px;
}
.nav1{
    font-weight: bold;
}
.list1{
    font-size: 14px;
    font-family: Sans-serif	;

}
.list2{
    font-size: 14px;
padding-top: 1px;
font-family: Sans-serif	;
}
.bxs-circle{
    font-size: 10px;
    color: red;
}
.list1h4:hover{
    color: rgb(6,124,243);
}
.form{
    clear: both;
    float: left;
    padding: 100px;
    margin: 100px;
}
form{
    width: 50%;
    height: 1040px;
    margin-left: 19%;
    border:4px solid rgb(245,245,245);
    overflow: hidden;
    border-bottom: none;
}
.form{
   margin: 0px 0px 0px -60px;
}
.formh1{
    font-size: 17px;
    font-family: sans-serif;
}
label.f1 {
    padding: 0px;
    font-size: 14px;
    font-family: Sans-serif	;

}


input.f2{
    width: 141%;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 20px;
    background-color:rgb(245,245,245) ;
    border: none;
    border-radius: 5px;


}
.formh2{
    padding-top: 7px;
    padding-left: -5px;
}
.name{
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    padding-right: 10px;
}
input.f4{
    display: flex;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 130%;
    background-color:rgb(245,245,245) ;
    border: none;
    border-radius: 5px;

}
form input[type=text]{
    border:1px solid rgb(225,224,227);
    
}
#ff {
    padding-left: 60%;
}
#fff{
margin-left:60% ;
width: 130%;
flex-grow: 5;

}
.form2{
    
        clear: both;
        float: left;
        margin-top:-210px;

}
.namef .f3{
    font-family: Sans-serif	;
    font-size: 14px;

}
#ff1{
    width: 103%;
}

.last{
    width: 30%;
    height: 1400px;
         margin-left: 69.5%;
        margin-top: -1450px; 
}
.last1{
    padding-top: 500px ;
    margin-left: 25px;

}
.inp2{
    padding: 10px;
text-align: center;  
  width: 137px;
  border-top-left-radius: 5px;
  border-color: rgb(234,238,244);
}
#l1{
    margin-left: -5px;
    background-color: rgb(234,238,244);

}

#hr{
    width: 85%;
    margin-top: 30px;
    color:rgb(234,238,244);

}
.lasth2 {
    margin-top: 30px;
    margin-left: 30px;
    font-size: 17px;
    font-family: Sans-serif	;
}
#l2{
    font-size: 14px;
    font-weight: 400;
line-height: 1.5;
margin-top: -10px;
padding-top: 8px;
}

 .search{
    margin-left: 30px;
    margin-top: 20px;
 }
 .search input{
    padding: 10px;
    padding-left: 35px;
    width: 79%;
    border:1px solid rgb(225,224,227);
border-radius: 5px;
background-color: rgb(234,238,244);
color: black;

}

.search .bx-search-alt-2{
    font-size: 20px;
    padding-bottom: -20px;
  margin-left: -340px;
  
 
  
} 
.wholediv{
    margin: 26px;
    
}
.div1{

    margin-left: 30px;
height: 105px;
width: 97%;
border:1px solid rgb(225,224,227);
margin: 10px;
border-radius: 5px;

}
.div1 .bx{
    padding-top: 30px;
    padding-left: 30px;
    font-size: 25px;
    color: rgb(225,224,227);
}
.div1 .border{
    margin-top: -35px;
    padding-left: 60px;
    color: rgb(225,224,227);

    
}
.div1h2{
    /* font-size: 18px; */
    font-size: 15px;
    font-family: Sans-serif	;

}
.div1p{
    font-size: 12px;
    font-family: Sans-serif	;

    

}
.border .div1p{
    margin-top: -10px;

}
.div1 .border1{
    margin-top: -35px;
    padding-left: 60px;  
    color: rgb(106,109,115);
    
 
}

.border1 .div1p{
    margin-top: -10px;

}